<nav class="navbar">
  <h3>Recipe App</h3>
  <ul>
    <li><%= link_to 'Home', foods_path %></li>
    <li><%= link_to 'Inventory', inventories_path %></li>
    <li><%= link_to 'Recipe', recipes_path %></li>
  </ul>
</nav>